__pycache__/
*.py[cod]
*$py.class

.venv/
env/
venv/
ENV/
*.env

build/
dist/
*.egg-info/
*.egg
.eggs/

.ipynb_checkpoints/

*.log
*.out

*.prof
*.dat
*.pkl
*.tmp
*.npy

.vscode/
.idea/


.DS_Store

.pytest_cache/

htmlcov/
coverage.xml
.cache
nosetests.xml
*.cover

*.swp
*~
